MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/tp3-librairie?retryWrites=true&w=majority
JWT_SECRET=votre-cle-secrete-ici
FRONTEND_URL=http://localhost:5173,https://votre-app.vercel.app
LITELLM_API_KEY=sk-votre-cle
LITELLM_BASE_URL=http://localhost:4000
